# .github/
.history/
.vscode/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.env/
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store
._*

# VS Code settings
*.code-workspace

# Log files
*.log

# Test and coverage outputs
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Pipenv
Pipfile.lock

# MyPy
.mypy_cache/

# Local data
*.sqlite3
